
from fastapi import FastAPI, File, UploadFile, Form
from fastapi.responses import JSONResponse
from pdf2image import convert_from_path
from paddleocr import PaddleOCR
import os
import torch
import gc
import google.generativeai as genai
from PIL import Image

gc.collect()